@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #f5f7fa, #f9f9fa);
}

.login_box {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background: white;
    padding: 90px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 280px;
        
    /* margin-bottom: 10px; */
    align-items: start;
    justify-content: start;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
}


