/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 80px;
  padding: 0 50px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 300px;
  margin-top: 1.2rem;
  height: auto;
}

nav {
  display: flex;
  gap: 10px;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

nav a {
  font-family: 'Poppins', sans-serif;
}

.icon_home,
.icon_user {
  width: 20px;
  height: 20px;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.icon_home {
  position: relative;
}

.icon_home::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px; /* Start from the left edge of the button */
  width: 350%; /* Make the underline span the full width of the button */
  height: 2px;
  background-color: #4e59d6;
}
header.sticky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
}
header.sticky_log {
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom right, #f5f7fa, #f9f9fa);
  z-index: 1000;
  box-shadow: none;
}