@import '@components/Navigator/Navigator.module.css';
@import '@components/HomePage/ParkingModal.module.css';
@import '@components/Dropdown/StudentDropdown.module.css';
@import '@components/Footer/Footer.module.css';
@import '@components/AdminDashboard/SideBar/SideBar.module.css';
@import '@components/AdminDashboard/Workspace/students/all-students/Studentworkspace.module.css';
@import '@components/AdminDashboard/Workspace/confirm-modal/ConfirmModal.module.css';
@import '@components/AdminDashboard/Workspace/students/edit-student/EditStudentForm.module.css';
@import '@components/AdminDashboard/Workspace/reservations/edit-reservation/EditReservationForm.module.css';
@import '@components/AdminDashboard/Workspace/Dropdown/FilterDropdown.module.css';

@import '@pages/LoginPage/LoginPage.module.css';
@import '@pages/HomePage/HomePage.module.css';
@import '@pages/ParkingSlots/ParkingSlots.module.css';
@import '@pages/ProfilePage/ProfilePage.module.css'; 
@import '@pages/AdminDashboard/AdminDashboard.module.css';


:root {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --text-color: #333;
  --background-color: #f0f0f0;
  --border-radius: 8px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color) !important;
}

